* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sriracha', cursive;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

#scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border: 3px solid black;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-top: none;
    height: 40px;
    width: 175px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;    

    height: 60vh;
    width: 50vw;
}

#gameDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;
}

#gameSetup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    border: 1px solid black;
    padding: 10px;
}

#gameSetup label {
    font-size: 46px;
}

#start {
    background-color: white;
    border: none;
    font-family: 'Sriracha', cursive;
    font-size: 26px;
}

.nameDisplay {
    font-size: 46px;
}

#playerUI, #computerUI {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

#playerUI .la-hand-rock, #playerUI .la-hand-paper, #computerUI .la-hand-scissors {
    transform: scaleX(-1);
}

.las {
    font-size: 150px;
}

#reset {
    display: none;
}

