:root {
    --white: #eae7dc;
    --gray: #8e8d8a;
    --tan: #d8c3a5;
    --red: #e85a4f;
    --redLight: #e98074;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: var(--red);
    font-family: 'Sriracha', cursive;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

#scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--gray);
    border: 3px solid var(--red);
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-top: none;
    color: var(--white);
    height: 40px;
    width: 175px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    height: 60vh;
    width: 50vw;
}

#gameDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;
}

#gameSetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 10px;
    width: 100%;
}

#gameSetup label {
    font-size: 46px;
}

#playerNameInput {
    background-color: var(--white);
    border: 2px solid var(--gray);
    border-radius: 6px;
    color: var(--red);
    font-family: 'Sriracha', cursive;
    font-size: 16px;
    height: 35px;
    outline: none;
    padding: 2px 10px;
    text-align: center;
    width: auto;
}

#playerNameInput:focus {
    border: 3px solid var(--gray); 
    box-shadow: 0px 4px 12px -3px var(--red);
    margin: -1px;
    z-index: 1;
}

#start {
    background-color: var(--white);
    color: var(--redLight);
    border: none;
    font-family: 'Sriracha', cursive;
    font-size: 26px;
}

#start:hover {
    color: var(--red);
    font-size: 30px;
    margin: -4px;
}

.nameDisplay {
    font-size: 3rem;
}

#playerUI, #computerUI {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;
}

#playerUI .la-hand-rock, #playerUI .la-hand-paper, #computerUI .la-hand-scissors {
    transform: scaleX(-1);
}

.las {
    color: var(--redLight);
    font-size: 135px;
}

#playerRock:hover i, #playerPaper:hover i, #playerScissors:hover i {
    color: var(--red);
}

#reset {
    display: none;
}

